$primaryColor: #222fb9;
$light: #f5f6f8;
$primaryLight: rgba(34, 47, 185, 0.37);
$textcolor: #565656;
$danger: #f11414;
$success: #1ac518;
$lightDark: #565656;
$text-color: #565656;
$danger: #f11414;
$success: #1ac518;
$lightDark: #565656;
$white: #fff;
