* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

input:focus,
.form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 16px;
  color: #565656;
}

.pad-0 {
  padding: 0;
}

h2 {
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

.heading-h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

ul {
  margin: 0;
}

.theme-color {
  color: #222fb9;
}

.danger-color {
  color: #f11414;
}

.pad-top {
  padding-top: 75px;
}

.pad-bot {
  padding-bottom: 75px;
}

.theme-color {
  color: #222fb9;
}

.gutter-top-md {
  margin-top: 30px;
}

.login-btn {
  padding: 12px 50px;
  background: #222fb9;
  border-radius: 6px;
  margin: auto;
  color: #f5f6f8;
  font-weight: 600;
}

.common-btn {
  padding: 10px 40px;
  background: #222fb9;
  border-radius: 3px;
  margin: auto;
  color: #f5f6f8;
  font-weight: 400;
  font-size: 14px;
  display: block;
  width: 100%;
}

.img-container {
  overflow: hidden;
}

.img-fitted {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  outline: none;
  border: none;
}

.form-title {
  font-size: 16px;
  font-weight: 600;
  color: #222fb9;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}

.bg-theme {
  background: #222fb9;
  color: #f5f6f8;
}

.login-section {
  background: #222fb9;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-section .login-container .login-title {
  padding-bottom: 30px;
}

.login-section .login-container .login-title h2,
.login-section .login-container .login-title h4 {
  color: #f5f6f8;
}

.login-section .login-container .login-form {
  background: #f5f6f8;
  padding: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 380px;
}

.login-section .login-container .login-form b {
  color: #222fb9;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.login-section .login-container .login-form .form-group label {
  font-weight: 500;
}

.login-section .login-container .login-form .form-group input {
  height: 50px;
}

.login-section .login-container .login-form .login-btn {
  margin-top: 40px;
}

.active {
  background: rgba(76, 91, 255, 0.72);
}

.path {
  margin-bottom: 30px;
}

.path span {
  font-weight: 400;
  font-size: 18px;
  color: #9b97a5;
}

.path b {
  font-weight: 500px;
  font: size 18px;
  color: #565656;
}

.search-container {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container i {
  padding-right: 10px;
  color: #565656;
}

.search-container input {
  outline: none;
  width: 100%;
  border: none;
}

.search-container input:focus {
  outline: 0 !important;
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  padding: 0 30px;
}

.header .header-menu .sidebar-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.header .header-menu .sidebar-btn i {
  font-size: 24px;
  color: #222fb9;
}

.header .header-menu .logo {
  margin-left: 30px;
}

.sidebar {
  position: fixed;
  top: 70px;
  width: 250px;
  height: 100%;
  background: #222fb9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.sidebar .sidebar-menu {
  overflow: hidden;
}

.sidebar .sidebar-menu .menu-item {
  overflow: hidden;
}

.sidebar .sidebar-menu .menu-item .menu-btn {
  display: block;
  color: #fff;
  position: relative;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sidebar-menu .menu-item img {
  margin-right: 20px;
  min-height: 30px;
  min-width: 30px;
}

.sidebar .sidebar-menu .menu-item span {
  font-size: 14px;
}

.sidebar hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sidebar small {
  padding: 30px;
  color: #fff;
}

.side-image {
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.side-image img {
  max-width: 150px;
}

.main-content {
  width: calc(100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  padding: 30px;
  background: #f5f6f8;
  background-size: cover;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome-container {
  padding: 30px;
  margin: 20px 0;
  background: rgba(34, 47, 185, 0.1);
}

.wrapper.collapse .sidebar {
  width: 80px;
}

.wrapper.collapse .sidebar span {
  display: none;
}

.collapse:not(.show) {
  display: block;
}

.wrapper.collapse .main-content {
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper.collapse .side-image {
  display: none;
}

.diag-info {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.diag-info .message-danger {
  background: rgba(234, 18, 44, 0.13);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.diag-info .pie-container {
  padding-top: 20px;
}

.diag-info .pie-container img {
  width: 100%;
}

.form-container {
  background: #fff;
  padding: 30px 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.form-container .form-control {
  background: #f1f1f1;
  margin-top: 5px;
}

.form-container hr {
  border: 1px dashed rgba(0, 0, 0, 0.1);
}

.table-container {
  background: #fff;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.table-container .table-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-container .table-top .sort {
  padding: 5px 10px;
  background: #222fb9;
}

.table-container .table-top .sort i {
  color: #fff;
  font-size: 18px;
}

.table-container .table-wrap {
  max-height: 400px;
  overflow-y: auto;
}

.table-container .table-wrap table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.table-container .table-wrap table td:last-child,
.table-container .table-wrap table th:last-child {
  text-align: center;
}

.table-container .table-wrap table th {
  background: #222fb9;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* Don't forget this, required for the stickiness */
}

.table-container .table-wrap table tr {
  overflow-y: auto;
  background: rgba(34, 47, 185, 0.14);
}

.table-container .table-wrap table td i:first-child {
  color: #1ac518;
  margin-right: 10px;
}

.table-container .table-wrap table td i:last-child {
  color: #f11414;
}

.review-section {
  background: #fff;
  margin: 30px 0;
  padding: 30px 60px;
}

.review-section .review-card {
  padding: 15px;
}

.review-section .review-card .title {
  padding: 10px 0;
}

.review-section .review-card .item-list {
  padding: 10px 20px;
  background: #f5f6f8;
  margin: 0;
}

.review-section .review-card .item-list li {
  padding: 10px 0;
}

.review-section .review-card .item-list span {
  margin-left: 20px;
}

.review-section .review-card .item-list li i:first-child {
  color: #1ac518;
}

.review-section .review-card .item-list li i:last-child {
  margin-left: 20px;
  color: #f11414;
}

.overview {
  background: rgba(34, 47, 185, 0.1);
  padding: 10px 20px;
  margin-top: 15px;
}

.overview .number {
  color: #222fb9;
  font-size: 24px;
  font-weight: 500;
}

.overview .number span {
  color: #565656;
  font-size: 14px;
  display: block;
}

.details-item-list li {
  padding: 5px 0;
}

.details-item-list li span {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */