$primary_color: #023047;
$secondary_color: #ffb703;
$dark_red: #fd2222;
$light_red: #e33f53;
$dark_green: #3e923d;
$light_green: #c3e33f;
$dark_grey: #928f8f;
$light_grey: #dfdfdf;
$black: #000000;
$white: #f8fdf9;
$dark-yellow: #f2bb30;

$primary_color_dark: #b3b3b3;

$text_on_primary: #000000;
$text_on_secondary: #ffffff;

$third_color: #ffe94e;
$placeholder_color: #4b4b4b;

$edit_color: #079c00;
$delete_color: #ee6969;

//fonts
$fonts_family_heading: "Reem Kufi", sans-serif;
$fonts_family_subheading: "Reem Kufi", sans-serif;
$fonts_family_content: "Reem Kufi", sans-serif;

//default font size
$font_size_h1: 1.75rem;
$font_size_h2: 1rem;
$font_size_h3: 3rem;
$font_size_h4: 2.125rem;
$font_size_h5: 1.5rem;
$font_size_h6: 1.25rem;
$font_size_subtitle1: 1rem;
$font_size_subtitle2: 0.875rem;
$font_size_body1: 1rem;
$font_size_body2: 0.875rem;
$font_size_button: 0.875rem;
$font_size_caption: 0.75rem;
$font_size_overline: 0.625rem;

// default border radius
$border_radius: 0.625rem;

// default padding and margin
$padding-default: 0.5rem 2rem 0.5rem;
$padding-default-body: 2.75rem 6.25rem 1rem;
$padding-single-default: 1rem;

//default icon sizes
$iconProfileDefault: 2rem;
$iconBackFrontDefault: 2.5rem;
