$primaryColor: #222fb9;
$white: #f5f6f8;
$light: #f5f6f8;
$primaryLight: rgba(34, 47, 185, 0.37);
$textcolor: #565656;
$danger: #f11414;
$success: #1ac518;
$lightDark: #565656;

//default font size
$font_size_h1: 1.75rem;
$font_size_h2: 1rem;
$font_size_h3: 3rem;
$font_size_h4: 2.125rem;
$font_size_h5: 1.5rem;
$font_size_h6: 1.25rem;
$font_size_subtitle1: 1rem;
$font_size_subtitle2: 0.875rem;
$font_size_body1: 1rem;
$font_size_body2: 0.875rem;
$font_size_button: 0.875rem;
$font_size_caption: 0.75rem;
$font_size_overline: 0.625rem;

// default border radius
$border_radius: 0.625rem;

// default padding and margin
$padding-default: 0.5rem 2rem 0.5rem;
$padding-default-body: 2.75rem 6.25rem 1rem;
$padding-single-default: 1rem;

//default icon sizes
$iconProfileDefault: 2rem;
$iconBackFrontDefault: 2.5rem;
