.main-content {
  width: calc(100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  padding: 30px;
  background: $light;
  background-size: cover;
  height: 100vh;
  transition: 0.3s;
}
.welcome-container {
  padding: 30px;
  margin: 20px 0;
  background: rgba(34, 47, 185, 0.1);
}

.wrapper.collapse .sidebar {
  width: 80px;
  span {
    display: none;
  }
}
.collapse:not(.show) {
  display: block;
}

.wrapper.collapse .main-content {
  width: calc(100% - 70px);
  margin-left: 70px;
}
.wrapper.collapse .side-image {
  display: none;
}

.diag-info {
  padding: 30px;
  margin: 20px 0;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
  // border:2px solid black;
  .message-danger {
    background: rgba(234, 18, 44, 0.13);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .pie-container {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
}
.form-container {
  padding: 30px;
  margin: 20px 0;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
  .form-control {
    background: #f1f1f1;
    margin-top: 5px;
  }
}
