.header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1;
  background: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 30px;

    .sidebar-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      i {
        font-size: 24px;
        color: $primaryColor;
      }
    }
    .logo {
      margin-left: 30px;
    }
    .search-container {
      width: 400px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 10px;
      border-radius: 40px;
      margin-left: auto;
      margin-right: 50px;
      display: flex;
      align-items: center;
      i {
        padding-right: 10px;
        color: $lightDark;
      }
      input {
        outline: none;
        width: 100%;
        border: none;
      }
      input:focus {
        outline: 0 !important;
      }
    }
  }
}
